@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: 'Roboto';
}

.header,
.footer,
.hero
 {
     /* position: sticky;  */
    background-color: #1F2937;
    color: #f8faf8; 
    padding: .25em; 
}

.footer {   
    text-align: center;   
}

 ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center; 
    text-decoration: none;
    padding: 12px;
}

button{
    background-color: #3882f6;
    color: #f8faf8;
    border-radius: 5px;
    border-color: white;
}

.quote{
    background-color: #e5e7eb;
    align-items: center;
    padding: 48px;
}

.image{
    background-color: white;
    align-items: center;
    text-align: center;
    /* padding: 12px; */
}
.action_call{
    background-color: #3882f6;
    color: #f8faf8;
    border-radius: 10px;
    text-align: center;
    text-indent: 25px;
    padding: .2em .5em;
    margin: 10px;
    

}
/* .hero{
    
    background-color: #1F2937;
    color: #f8faf8; 
} */

.header_nav{
    text-decoration: none;
    
}

.header_h1{
    margin-right: 800px;
    
}